#wpadminbar .c2c-blog-time-widget-display a {
	padding: 0;
}

#wpadminbar .c2c-blog-time-widget .ab-icon:before {
	content: '\f469';
	top: 2px;
}

#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.c2c-blog-time-dynamic.ab-item,
#wpadminbar:not(.mobile)>#wp-toolbar li:hover .c2c-blog-time-dynamic span.ab-label,
#wpadminbar li .c2c-blog-time-dynamic .ab-icon:before {
	background-color: inherit;
	color: inherit;
}

.c2c-blog-time-widget-display a:visited {
	color: inherit !important;
}

/*
 * Admin styles
 */

.wp-admin .form-table p.blog-time-info {
	margin: 1em 0;
}

.wp-admin p.blog-time-info.notice {
	padding: 4px 12px;
}
